*{
    padding: 5px;
    margin: 0;

}
body {
    font-family: 'Raleway', cursive;
    font-size: 100px;
    background-color:whitesmoke;
  }
h1{
   
    text-align: center;
    color:crimson;
    background-color: rgb(255, 255, 255);
    border-color: rgb(166, 221, 240);
}
h3{
    text-align: center;
    text-decoration: solid;

}
i{
    color: crimson;
}
footer {
    text-align: center;
}
footer .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -30px;
}

footer .span {
    margin-top: 30px;
    border-top: 1px solid rgb(185, 185, 185);
    padding: 10px 0px;
}

footer .span p a {
    margin-left: 3px;
}

footer .span a {
    text-decoration: none !important;
    color: #07b4e9;
}

footer p{

    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(46, 42, 42);
    line-height: 24px;
}